
<li>
  <%= content_tag :strong, twet.user.name, :class => 'pull-left text-middle' %>
  <%= content_tag :small, "@"+twet.user.username, :class => 'text-muted pad-10 text-middle' %>
  <% unless twet.user_id == current_user.id %>
    <%= form_for :twet, :html => { :style => "display: inline" } do |f| %>
      <%= f.hidden_field(:user_id, :value => current_user.id.to_s) %>
      <%= f.hidden_field(:parent_id, :value => twet.id.to_s ) %>
      <%= f.submit("Retwet", :class => "retwet-submit") %>
    <% end %>
  <% end %>
  <%= content_tag :small, twet.created_at.strftime("%b %-d"), :class => 'text-muted text-middle pull-right' %>
  <div class="clearfix"></div>
  <% if twet.content? %>
    <%= content_tag :p, twet.content.gsub(/@(?<username>(\w+))/,'<a href="'+'\k<username>'+'">@\k<username></a>').html_safe%>
  <% else %>
    <%= content_tag :p, "Retweted from @#{twet.parent.user.username}", :class => 'text-muted' %>
    <%= content_tag :p, twet.parent.content.gsub(/@(?<username>(\w+))/,'<a href="'+'\k<username>'+'">@\k<username></a>').html_safe %>
  <% end %>
</li>
<li><hr></li>
